github "networkextension/SwiftyJSON" "3.1.4"
github "networkextension/AxLogger" "0.2.4"
github "Hearst-DD/ObjectMapper"
github "groue/GRDB.swift" "6cede4975c50d1edbc2393e8e935558236e98f2c" #Swift3.1beta
git "https://bitbucket.org/yarshure/mmdb-swift.git" "0.2.3"
